@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: hidden;
    }
  }

  body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }